
<#include "/common/common.html" >

<!DOCTYPE html>
<html>
<head>  
  <#include "/common/head.html" >
  
  <script>
  /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
  </script>
</head>
<body class="layui-layout-body">
  
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
         
          <li class="layui-nav-item" lay-unselect>          	
            <a href="javascript:;">
              <cite>管理员</cite>
            </a>
            <dl class="layui-nav-child">
                <dd><a lay-href="${ctx}/systemSetting/userManagement/userList">基本信息</a></dd>
              <hr>
              <dd layadmin-event="logout" style="text-align: center;"><a href="${ctx}/user/loginOut">退出</a></dd>
            </dl>
          </li>
          
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>             
          </li>
          <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
            <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="${ctx}/userManage/index">
            <img src="${ctx}/images/indexLogo.png" class="layui-nav-img">
            <span>后台管理系统</span>
          </div>
          
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-this">
              <a href="javascript:;" lay-href="${ctx}/userManage/index" lay-tips="用户" lay-direction="2">
                <i class="layui-icon layui-icon-home"></i>
                <cite>用户管理</cite>
              </a>
            </li>
            
            <li data-name="component" class="layui-nav-item">
              <a href="javascript:;" lay-href="${ctx}/novelManage/index" lay-tips="小说" lay-direction="2">
                <i class="layui-icon layui-icon-snowflake"></i>
                <cite>小说管理</cite>
              </a>
            </li> 
            
            <li data-name="component" class="layui-nav-item">
              <a href="javascript:;" lay-href="${ctx}/classifyManage/classifyList" lay-tips="分类" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>分类管理</cite>
              </a>
            </li>

            <li data-name="component" class="layui-nav-item">
              <a href="javascript:;" lay-href="${ctx}/commentManage/index" lay-tips="评论" lay-direction="2">
                <i class="layui-icon layui-icon-auz"></i>
                <cite>评论管理</cite>
              </a>
            </li>
            
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="home/console" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>
      
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="${ctx}/userManage/index" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="${ctx}/layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '${ctx}/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','user'],function(){

  });
  </script>
</body>
</html>


