<!DOCTYPE html>
<#include "/common/common.html" >
<html>
<head>
  <#include "/common/head.html" >
  
  <script>
  /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
  </script>
</head>
<body class="layui-layout-body">
  
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <!--<li class="layui-nav-item layadmin-flexible" lay-unselect>-->
            <!--<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">-->
              <!--<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>-->
            <!--</a>-->
          <!--</li>-->
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
         
          <li class="layui-nav-item" lay-unselect>          	
            <a href="javascript:void(0);">
              <#if user.nickname ??>
                <cite>${user.nickname}</cite>
                <#else>
                <cite>${user.phoneNumber}</cite>
              </#if>
            </a>
            <dl class="layui-nav-child">
                <dd><a lay-href="${ctx}/memberCenter/baseInfo">基本信息</a></dd>
              <hr>
              <dd layadmin-event="logout" style="text-align: center;"><a href="${ctx}/user/loginOut">退出</a></dd>
            </dl>
          </li>
          
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:void(0);" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
          <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
            <a href="javascript:void(0);" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="${ctx}/user/console">
            <img src="${ctx}/images/indexLogo.png" class="layui-nav-img">
            <span>羲阳阅读网</span>
          </div>
          
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item">
              <a href="javascript:void(0);" lay-tips="书库" lay-direction="2">
                <i class="layui-icon layui-icon-home"></i>
                <cite>书库</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="console">
                  <a lay-href="${ctx}/library/index">全部作品</a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd data-name="console">
                  <a lay-href="${ctx}/library/cityIndex">都市小说</a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd data-name="console">
                  <a lay-href="${ctx}/library/fairySpiderman">仙侠小说</a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd data-name="console">
                  <a lay-href="${ctx}/library/scienceFiction">科幻小说</a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd data-name="console">
                  <a lay-href="${ctx}/library/militaryHistory">历史军事</a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd data-name="console">
                  <a lay-href="${ctx}/library/fantasy">玄幻小说</a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd data-name="console">
                  <a lay-href="${ctx}/library/dragon">武侠小说</a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd data-name="console">
                  <a lay-href="${ctx}/library/athletic">网游竞技</a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd data-name="console">
                  <a lay-href="${ctx}/library/suspenseParanormal">悬疑灵异</a>
                </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd data-name="console">
                  <a lay-href="${ctx}/library/other">其他小说</a>
                </dd>
              </dl>
            </li>
            
            <li data-name="component" class="layui-nav-item">
                <a href="javascript:;" lay-tips="排行" lay-direction="2">
                    <i class="layui-icon layui-icon-snowflake"></i>
                    <cite>排行榜</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd data-name="button">
                        <a lay-href="${ctx}/ranking/totalNumber">总排行榜</a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd data-name="button">
                        <a lay-href="${ctx}/ranking/clickIndex">总点击榜</a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd data-name="button">
                        <a lay-href="${ctx}/ranking/recommendList">总推荐榜</a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd data-name="button">
                        <a lay-href="${ctx}/ranking/collectIndex">总收藏榜</a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd data-name="button">
                        <a lay-href="${ctx}/ranking/nowUpdate">最近更新</a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd data-name="button">
                        <a lay-href="${ctx}/ranking/nowPutStorage">最新入库</a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd data-name="button">
                        <a lay-href="${ctx}/ranking/wordsList">字数排行</a>
                    </dd>
                </dl>
            </li> 
            
            <li data-name="component" class="layui-nav-item">
              <a href="javascript:void(0);" lay-tips="会员" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>会员中心</cite>
              </a>
              <dl class="layui-nav-child">
                  <dd class="layui-nav-itemed">
                      <a href="javascript:void(0);">我的设置</a>
                      <dl class="layui-nav-child">
                          <dd><a lay-href="${ctx}/memberCenter/baseInfo">基本资料</a></dd>
                          <dd><a lay-href="${ctx}/memberCenter/password">修改密码</a></dd>
                      </dl>
                  </dd>
              </dl>
              <dl class="layui-nav-child">
                <dd data-name="button">
                  <a lay-href="${ctx}/bookCase/index">我的书架</a>
                </dd>
              </dl>
            </li>
            <#if user.role == 10>
            <li data-name="component" class="layui-nav-item">
                <a href="javascript:void(0);" lay-tips="作者" lay-direction="2">
                    <i class="layui-icon layui-icon-user"></i>
                    <cite>作者中心</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd data-name="button">
                        <a lay-href="${ctx}/author/index">所有作品</a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd data-name="button">
                        <a lay-href="${ctx}/author/uploadNovel">上传作品</a>
                    </dd>
                </dl>
            </li>
            </#if>

            
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:void(0);"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="home/console" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>
      
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="${ctx}/user/console" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="${ctx}/layuiadmin/layui/layui.js"></script>
  <script>
        var  refresh = true;
      var indexUser = '${user}';
      var jsonIndexUser = JSON.parse(indexUser);
  layui.config({
    base: '${ctx}/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','user','layer'],function(){
     var layer = layui.layer,
         $ = layui.jquery;


      if (checkIsNull(jsonIndexUser.account) || checkIsNull(jsonIndexUser.password) || checkIsNull(jsonIndexUser.nickname)){
          layer.msg("请完善基本信息！",{icon : 2,time:1000},function () {
              window.location.href="${ctx}/memberCenter/baseInfo";
          })
      }


  });
  //=================================COMMON====================================


  function checkIsNull(val) {
      return val === "" || val === undefined || val === null;
  }
  </script>
</body>
</html>


